<!DOCTYPE html>

<html lang = "en">
<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>

<body class = "body">
<h1>Shop Page </h1>


</body>

<%- include('../partials/footer.ejs')%>

</html>