<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BoothLink lets you discover and reserve unique products and services from student
    booths at Saint Louis University. Support SLU's vibrant student community today!">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/auth/signup.css">
</head>
<body>
<main>
    <div class="grid-container">
        <div id="grid-left">
            <h1>booth<span class="sky-blue">link</span></h1>
        </div>
        <div id="grid-right">
            <div id="signup-form">
                <h1>Sign up</h1>
                <p>Already have an account? <a href="" id="login-link" class="sky-blue">Log in</a></p>
                <input type="text" class="signup-input" placeholder="Last Name">
                <input type="text" class="signup-input" placeholder="First Name">
                <input type="text" class="signup-input" placeholder="Email">
                <input type="text" class="signup-input" placeholder="Username">
                <input type="password" class="signup-input" placeholder="Password">
                <button class="signup-button">Sign up</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>