@import 'interactive.css';
@import "styles.css";

#booth-shop-container {
    background-color: #5a96d6;
    min-height: 50rem;
    padding: 2rem;
    margin: 0 auto;
    width: calc(100% - 7.5rem);
    font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
}

#navbar {
    background-color: #ffffff;
}

#navbar p {

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.60);
}

.org-banner-and-details {
    background-color: oldlace;
    width: 67.1875rem;
    height: 10.1875rem;
    border-radius: 0.5rem;
}

#banner-org-and-name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#banner-org-and-name p {
    font-size: 2rem;
    font-weight: bold;
    color: #eaa953;
}

#banner-org-and-name img {
    width: 6.25rem;
    height: 6.77888rem;
    border-radius: 1.25rem;
    margin-left: 1.5rem;
    margin-top: 1.6rem;
}


#banner-org-socials {

    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.8rem;
}

#banner-org-socials img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
}

#banner-org-socials p {
    font-size: 1rem;
    color: #eaa953;
}


#shop-booth-name {
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
}

#sort-form {
/*    background-color: #354261;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

#category-filter {
    display: flex;
    align-items: center;
}

#view-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sort-form p {
    font-weight: bold;
}

#sort-by {
    font-weight: bold;
    padding-right: 0.5rem;
}

#view-gap {
    font-weight: bold;
    padding: 0.5rem;
}

.booth-name-and-filter {
/*    background-color: #856404;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#product-listing {
    display: grid;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr); 
    /* change to this if more than 5 products
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    padding: 1rem;

}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 1.5rem;
    max-width: 100%;
    min-height: 25rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    margin: auto;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #EFEFEF;
}

.image-container {
    width: 240px; 
    height: 250px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    margin: 0 auto; 
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

.product-org {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.product-org img {
    width: 14px;
    height: 14px;
    border-radius: 0;
}


.product-category {
    font-size: 16px;
    margin: 0;
}

.product-description {
    font-weight: lighter;
    font-size: 16px;
    margin: 0;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}