@import 'interactive.css';
@import "styles.css";

#booth-shop-container {

    min-height: 50rem;
    padding: 2rem;
    margin: 0 auto;
    width: calc(100% - 7.5rem);
    font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
}

#navbar {
    padding-bottom: 1rem;
}
#navbar p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.60);
}

.org-banner-and-details {

    width: 100%;
    height: 170px;
    border-radius: 1rem;
    position: relative;
}

#banner-org-and-name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 170px;
}

#banner-org-and-name p {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

#banner-org-and-name img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin-left: 1.5rem;
    margin-top: 20px;
    background: linear-gradient(white, white);
    background-size: 100% 100%, cover;
    background-origin: border-box;
    padding: 2px; 
    box-sizing: border-box;
}


#banner-org-socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.8rem;
    position: absolute;
    bottom: 1rem; 
    right: 1.5rem; 
    z-index: 10; 
}

#banner-org-socials a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 0.5rem;
}

#banner-org-socials img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
}

#banner-org-socials p {
    font-size: 1rem;
    color: #fff;
    padding-top: 0.5rem;
}


#shop-booth-name {
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
}

#sort-form {
/*    background-color: #354261;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

#category-filter {
    display: flex;
    align-items: center;
}

#view-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sort-form p {
    font-weight: bold;
}

#sort-by {
    font-weight: bold;
    padding-right: 0.5rem;
}

#view-gap {
    font-weight: bold;
    padding: 0.5rem;
}

.booth-name-and-filter {
/*    background-color: #856404;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

}

#product-listing {
    display: grid;
    gap: 1rem;
    justify-content: start;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding: 1rem;

}

@media (max-width: 768px) {
    #product-listing {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

@media (max-width: 480px) {
    #product-listing {
        grid-template-columns: repeat(1, minmax(15rem, 1fr)); 
    }
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 1.5rem;
    width: 100%;
    max-width: 20rem;
    /* min-height: 25rem; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    text-align: left;
    overflow: hidden;
    margin: 0;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    /* background-color: #EFEFEF; */
    background-color: #CCFFFF;
}

.image-container {
    width: 100%; 
    height: 250px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    margin: 0 auto; 
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

.product-org {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.product-org img {
    width: 14px;
    height: 14px;
    border-radius: 0;
}


.product-category {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #777777;
}

.product-description {
    font-weight: 550;
    font-size: 16px;
    margin: 0;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}