@import 'interactive.css';
@import "styles.css";

main {
    padding: var(--spacing-xl);
}

.icon {
    width: 1.4375rem;
    height: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.bold {
    font-weight: 700;
}

.checkout-btn {
    border: none;
    border-radius: 0.3125rem;
    background: #1EBDEF;
    padding: 1rem 2.5rem;
    color: #FFF;
    cursor: pointer;
    margin-left: 2rem;
}

.clear-btn {
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--sky-blue);
    font-weight: bold;
    text-decoration: underline;
}

.remove-btn {
    border: none;
    background: none;
    color: var(--text);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem; /* 125% */
}

.select-all {
    margin-right: 2rem;
    font-weight: bold;
    align-items: center;
    align-self: center;
}

input {
    margin-right: 1rem;
}

/* Cart Table */
#cart-table, #checkout-receipt {
    margin-top: 1.5rem;
    width: 100%;
}

.head,
.foot {
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: var(--dark1);
}

/* Table Head */
.head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    height: 4.125rem;
    text-align: center;
}

.select-all p,
.select-all p {
    font-size: 1.25rem;
}

.head .thead p {
    font-size: 0.8rem;
}

/* Table Body */
.org-wrapper {
    margin: 1rem 0;
    border-radius: 1.25rem;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: var(--dark1);
}

.org-wrapper .org {
    width: 100%;
    padding: 1.5rem;
    height: 4.125rem;
    border-bottom: 2px solid #D9D9D9;
}

.item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 1.5rem;
}

.item .prod {
    display: flex;
    align-items: center;
}

.item .prod img {
    width: 8.1875rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 1.25rem;
    margin-right: 1.5rem;
}

/* Selects */
.pickup {
    width: 10.4375rem;
    height: 2.3125rem;
    border-radius: 0.3125rem;
    border: 2px solid #D9D9D9;
    background: #FFF;
    text-align: center;
}

.qty {
    width: 7.6875rem;
    height: 2.3125rem;
    border-radius: 0.3125rem;
    border: 2px solid #D9D9D9;
    background: #FFF;
    text-align: center;
}

/* Table Foot */

.foot {
    height: 5.4375rem;
    justify-content: space-between;
}

.total p {
    font-size: 1.25rem;
}

