@import 'interactive.css';
@import "styles.css";

/* Fixed header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #fff; 
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--stroke-primary, #F6F5F6);
    font-family: 'Poppins', 'Roboto', sans-serif;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50rem;
    padding: var(--spacing-xl, 1.5rem) var(--spacing-xl, 1rem);
    width: 100%;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.card {
    display: flex;
    padding: var(--spacing-xl, 1.5rem) var(--spacing-xl, 1rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl, 1rem);
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid var(--stroke-primary, #F6F5F6);
    background: var(--surface-secondary, #FFF);
    box-shadow: var(--light1);
}

#banner-container + .divider-line {
    margin-top: 0;
}

#banner-container {
    min-height: 100vh;
    padding: 0;
    margin-top: 0;
    width: 100%;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-image: url("/shared/assets/images/banner.png");*/
    /*background-image: url('cs-312_boothlink/shared/assets/images/banner.png');*/
}

.banner-button {
    padding: 15px 30px;
    background-color: #666666; /* change color */
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 32px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.banner-button:hover {
    background-color: #999999; /* change */
    transform: scale(1.1); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.banner-button-container{
    padding: var(--spacing-xl, 4rem) var(--spacing-xl, 5rem);
    position: absolute;
    bottom: 50px; /* adjust higher or lower */
    right: 30px;  /* adjust left or right */
    text-align: center;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.divider-line {
    border-top: 1px solid #0000001a;
    width: 100%;
    margin: 0;
    position: relative
}

.divider-bar {
    background-color: black;
    width: 100%;
    height: 4rem;
}

.product-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.product-header p{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

/* to fix: line 132 - 199 */
#best-sellers {
    width: 100%;
    background: var(--stroke-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xl, 1.5rem) 0;
    gap: 2rem;
    overflow-x: auto;
    margin: 0 auto;
}

.best-sellers-card {
    display: flex;
    padding: var(--spacing-xl, 1.5rem) var(--spacing-xl, 1rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl, 1rem);
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid var(--stroke-primary, #F6F5F6);
    background: var(--surface-secondary, #FFF);
    box-shadow: 0 2px 4px 0 rgba(16, 24, 40, 0.2);
}

.best-sellers-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}

.image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black; /* debugging layout */
}

.best-sellers-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.product-description {
    font-size: 16px;
    margin: 0;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.button-container {
    display: flex;
    width: 100%;
    padding: var(--spacing-xl, 2.9rem) var(--spacing-xl, 1.5rem) var(--spacing-xl, 1rem) var(--spacing-xl, 1.5rem);
    justify-content: center;
}

.best-sellers-button {
    border-radius: 70px;
    border: 1.5px solid rgba(0, 0, 0, 0.10);
    padding: 1rem;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

.best-sellers-button:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition-duration: 0.4s;
}

.category-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

.category-header p{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

#browse {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl, 1rem);
    border-radius: 80px;
    border: 1px solid var(--stroke-primary, #F6F5F6);
    background-color: #F0F0F0;
    box-shadow: 0 2px 4px 0 rgba(16, 24, 40, 0.2);
    justify-items: center;
    width: 100%;
    height: 880px;
    padding: 1rem 0;
    z-index: 1;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    width: calc(100% - 7.5rem);
    gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 0 2rem 3.5rem 2rem;
    margin: 0 auto;
    align-content: start;
}

.grid-card {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 18rem;
    box-shadow: 0 2px 4px 0 rgba(16, 24, 40, 0.2);
}

.grid-card p {
    margin: 30px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
}

.grid-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}
.grid-card:hover {
    transform: scale(101%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
}

.grid-card img:hover {
    opacity: 50%;
    transition-duration: 0.4s;
}

.category-food {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
    background-color: #2e5280;
}

.category-items {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
    background-color: #cf761c;
}

.category-services {
    grid-column: span 2; /* Spans across both columns */
    grid-row: 2; /* Second row */
    background-color: #83522b;
}

/* logo carousel */

#discover {
    width: 100%;
    background: var(--stroke-primary, #F6F5F6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0px;
    gap: 2rem;
    overflow: hidden;
}

.discover-card {
    display: flex;
    width: 100%;
    padding: 4rem;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-xl, 1rem);
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--stroke-primary, #F6F5F6);
    background: black;
}

.discover-text {
    width: 50%;
    padding: 1rem;
}

.discover-text p {
    font-size: 50px;
    font-weight: bolder;
    color:white;
    font-family: 'Poppins', sans-serif;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    width: 50%;
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 7.5s move infinite linear;
}

.logos-slide img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    padding:10px;
}

.logos-slide img:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    transition-duration: 0.3s;
}