@import 'interactive.css';
@import "styles.css";
@import 'checkout.css';

#receipt-table {
    margin: auto;
    margin-top: 1.5rem;
    width: 40.0625rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: var(--dark1);
    padding: 1.5rem;
    align-items: center;
    text-align: center;
}

#receipt-table hr {
    margin: 1rem 0;
}

#receipt-table .heading {
    justify-content: space-between;
    margin-top: 1rem;
}

#receipt-table a {
    text-decoration: none;
}

#receipt-table .checkout-btn a {
    margin-top: 1.5rem;
}

.container-buttons {
    padding: 1.5rem;
    display: inline-block;
    margin: auto;
    align-items: center;
    text-align: center;
}