/*Remove the comments for the background color for visual aid*/

#shop-container {
    min-height: 50rem;
    padding: 2rem;
/*    background-color: #5a96d6;*/
    margin: 0 auto;
    width: calc(100% - 120px);
    font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
}


#booth-icon-and-header {
/*    background-color: #09c372;*/
    font-size: 1.6875rem;
    display: flex;
    gap: 1rem;
    height: 3rem;
}

#booth-icon-and-header img {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

#shops-and-sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#shop-icon-header {
/*    background-color: #09c372;*/
    font-size: 1.6875rem;
    display: flex;
    gap: 1rem;
    height: 3rem;
}

#shops-and-sorting-container img {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

#sort-form {
/*    background-color: #354261;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#category-filter {
    display: flex;
    align-items: center;
}

#view-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sort-by {
    padding-right: 0.5rem;
}

#view-gap {
    padding: 0.5rem;
}

.organization-list {
/*    background-color: #fff;*/
    height: 13rem;
}

.org-booths {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.org-booths img {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}


