# IDE files
.idea
.vscode

# Config files
/config/Connection.php

# Env files
.env
.env.*

# Miscellaneous
*.bak
*.swp
*.tmp
*.cache
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride