<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/customer/style.css">
    <link rel="stylesheet" href="/public/css/customer/cart.css">
</head>
<body>
<main>
    <h2>Your Cart</h2>
    <div>
        <table>
            <thead class="cart-thead">
            <tr>
                <th class="container">
                    <input type="checkbox" class="checkall" id="checkall"/>
                    <p>Select All</p>
                </th>
                <th>Pickup</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="vendor-container">
                <td>
                    <input type="checkbox" class="checkitem" id="checkitem"/>
                </td>
                <td>SCHEMA</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="container">
                    <input type="checkbox" class="checkall" id="checkall"/>
                    <p>Select All</p>
                </th>
                <th>
                    <button type="reset">Clear Cart</button>
                </th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th><button type="submit">Checkout</button></th>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</body>
</html>