<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>
<link rel="stylesheet" href="/receipt.css">
<main>
    <%- include('../partials/breadcrumbs.ejs') %>
    <div class="container heading">
        <img class="icon" src="/icons/receipt-black-outline.png" alt="receipt icon">
        <h2>Receipt</h2>
    </div>
    <div id="receipt-table">
        <div class="column-container">
            <h3>Thank you for your purchase!</h3>
            <p>Your reservations have been sent to the respective booths.</p>
        </div>
        <hr>
        <div class="container-buttons">
            <a href="/reservations" class="checkout-btn">View Reservations</a>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>