<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>
<link rel="stylesheet" href="/receipt.css">
<main>
    <div id="receipt">

    </div>
    <div class="card container">
        <h2>Reservations Confirmed</h2>
        <div class="column-container">
            <p>Your reservations have been sent to the respective booths.</p>
            <p>You may view your reservations</p>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>`