<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>
<body>
<main>
    <div id="booth-page">
        <div id="booth-shop-container">
            <div class="parent-container">
                <div id="navbar">
                    <p id="navbar-text">Shop > Booth</p>
                </div>

            </div>
        </div>
    </div>
</main>
</body>
<%- include('../partials/footer.ejs')%>