<body>
<header>
    <div class = "logo">
        <a href="/" target="_self" class = "container">
            <img src="/images/boothlink-logo.png" alt="Boothlink Logo">
                <h1>booth<span class="sky-blue">link</span></h1>
        </a>
    </div>
    <nav id = "links">
        <ul>
            <li> <a class="nav" href="/" target="_self">Home</a></li>
            <li> <a class = "nav" href="/shop"> Shop </a></li>
            <li> <a class = "nav" href="/reservations"> Reservations </a></li>
        </ul>
    </nav>


    <div class = "container">
        <form method="GET" action="/shop">
            <label>
                <input class="search" name="value" type="text" placeholder="Search for products..." required>
            </label>
            <button type="submit">Search</button>
        </form>
        

        <div class = "nav-btn  cart">
            <a href="/cart" target="_self" class = "container">
                <img src="/icons/logo-black-outline.png" alt="Cart">
            </a>
        </div>

        <div class = "nav-btn profile">
            <!-- To define href -->
            <a href="/logout" target="_self" class = "container">
                <img src="/icons/logout-black-outline.png" alt="Profile">
            </a>
        </div>
    </div>
</header>
