<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="product_reserve.css">
</head>
<body>
<main>
  <div id="reserve-page">
    <div id="reserve-container">
      <p>Shop > Reserve</p>
      <div class="product-and-details">
        <div id="product-image">
          <img src="/shared/assets/prod_img/lego_shoes.jpg" alt="Shoes">
        </div>
        <div id="product-details">
          <p id="product-name">Adidas Shoes</p>
          <p id="product-type">Item</p>
          <p id="product-price">₱ 5000.00</p>
          <p id="product-description">Shoes for the collectors and
            brand enthusiasts around the globe.</p>

          <hr>
          <p class="generic-text">Seller:</p>
          <div class="org-seller">
            <img src="/shared/assets/icons/booth-black-outline.png" alt="Booth">
            <p id="booth-org">SCHEMA</p>
          </div>
          <hr>

          <p class="generic-text">Schedule</p>
          <div class="radio-group">
            <input class="radio-input" name="radio-group" id="radio1" type="radio">
            <label class="radio-label" for="radio1">Sched 1</label>

            <input class="radio-input" name="radio-group" id="radio2" type="radio">
            <label class="radio-label" for="radio2">Sched 2</label>

            <input class="radio-input" name="radio-group" id="radio3" type="radio">
            <label class="radio-label" for="radio3">Sched 3</label>
          </div>
          <hr>

          <div class="increment-cart">
            <div class="wrapper">
              <span class="minus">-</span>
              <span class="num">01</span>
              <span class="plus">+</span>
            </div>
            <button id="add-to-cart">Add to Cart</button>
          </div>
          <script>
            const plus = document.querySelector(".plus"),
                    minus = document.querySelector(".minus"),
                    num = document.querySelector(".num");
            let a = 1;
            plus.addEventListener("click", ()=>{
              a++;
              a = (a < 10) ? "0" + a : a;
              num.innerText = a;
            });
            minus.addEventListener("click", ()=>{
              if(a > 1){
                a--;
                a = (a < 10) ? "0" + a : a;
                num.innerText = a;
              }
            });
          </script>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>