RewriteEngine On
RewriteBase /cs-312_boothlink/

# Redirect all requests to the Node.js application running on localhost:3000
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://localhost:3000/$1 [P,QSA,L]
